@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #022d10;
}

body::-webkit-scrollbar-thumb {
  background: green;
}

a {
  text-decoration: none;
  color: inherit;
}

.title-sec {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.title-sec p {
  color: darkgreen;
  font-weight: 600;
  font-size: 1.3rem;
}

.title-sec h2 {
  line-height: 0.9;
  font-size: 1.5rem;
}

.title-sec .under-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.title-sec .under-line:hover span {
  background-color: darkgreen;
}

.title-sec .under-line:hover span span {
  background-color: darkgreen;
}

.title-sec .under-line span {
  width: 80px;
  height: 3px;
  background-color: green;
  margin: 15px 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.title-sec .under-line span span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
}

.title-sec .under-line span:nth-child(1) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.title-sec .under-line span:nth-child(2) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.title-sec .under-line span:nth-child(3) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav .topnav {
  padding: 2px 30px;
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.nav .topnav .info a,
.nav .topnav .icons a {
  margin: 0 6px;
}

.nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2px 30px;
}

.nav .navbar .manu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .navbar .manu .login a {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: darkgreen;
  color: white;
}

.nav .navbar .manu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .navbar .manu ul li {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 5px 20px;
}

.nav .navbar .manu ul li a {
  font-size: 1.2rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .navbar .manu ul li a i {
  margin: 0 2px;
}

.nav .navbar .manu ul li:hover {
  background-color: darkgreen;
  border-radius: 5px;
  color: white;
}

.nav .navbar .logo {
  margin-left: 20px;
}

.nav .downnav {
  padding: 2px 30px;
  background-color: green;
  color: white;
}

.nav .downnav marquee a {
  margin: 0 10px;
}

.nav .downnav marquee a:hover {
  color: black;
}

.banner {
  width: 100%;
  height: 70vh;
  background-image: url(/img/banner.jpg);
  background-size: cover;
}

.about-us .about-cont {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us .about-cont .about-img {
  border-radius: 50% 0 0 50%;
  border: 1px solid #999;
  padding: 5px;
  width: 500px;
  height: 500px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.about-us .about-cont .about-img .img {
  background: url(/img/g7.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  border-radius: 50% 0 0 50%;
}

.about-us .about-cont .about-info {
  padding: 50px;
  font-size: 1.15rem;
  height: 500px;
}

.about-us .about-cont .about-info p {
  margin-bottom: 15px;
}

.about-us .about-cont .about-info a {
  background-color: green;
  color: white;
  font-size: 1.2rem;
  padding: 5px 30px;
}

.institutes-sections .institutes-cont {
  padding: 0 30px;
}

.institutes-sections .institutes-cont .hicis {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin: 20px 0;
}

.institutes-sections .institutes-cont .hicis .info {
  padding: 0 20px;
}

.institutes-sections .institutes-cont .hicis .info h2 {
  color: darkgreen;
  margin: 5px 0;
}

.institutes-sections .institutes-cont .hicis .info p {
  font-size: 1.1rem;
}

.institutes-sections .institutes-cont .hicis .info ul {
  list-style: none;
  font-size: 1.1rem;
}

.institutes-sections .institutes-cont .hicis .img {
  border: 1px solid #999;
  padding: 5px;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.features {
  background-color: #eee;
  padding-bottom: 20px;
}

.features .features-cont {
  width: 100%;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.features .features-cont .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.last-news {
  padding-bottom: 20px;
}

.last-news .news-cont {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.last-news .news-cont .box {
  -webkit-box-shadow: 1px 1px 5px #0e100f6d;
          box-shadow: 1px 1px 5px #0e100f6d;
}

.last-news .news-cont .box .img img {
  width: 100%;
  height: 250px;
}

.last-news .news-cont .box .info {
  padding: 5px;
}

.last-news .news-cont .box .info h2 {
  font-size: 1.1rem;
}

.fotter .fotter-top {
  padding: 10px;
  padding-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 40px;
  background: #141415;
  color: white;
}

.fotter .fotter-top h2 {
  color: #00b800;
  border-bottom: 2px solid green;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.fotter .fotter-top .call-me ul li {
  padding: 5px;
}

.fotter .fotter-top .call-me ul li i {
  border: 2px solid #555;
  padding: 5px;
}

.fotter .fotter-top .call-me ul li a {
  padding: 5px;
}

.fotter .fotter-top .last-new ul {
  list-style: none;
}

.fotter .fotter-top .last-new ul li {
  padding: 3px 0;
}

.fotter .fotter-bottom {
  background: #000;
  text-align: center;
  color: white;
  padding: 5px 0;
  font-weight: 600;
}

@media (max-width: 570px) {
  .nav .navbar .manu {
    display: none;
  }
  .about-us .about-cont {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .about-us .about-cont .about-info {
    height: unset;
  }
  .institutes-sections .institutes-cont .hicis {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .features .features-cont {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  .last-news .news-cont {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  .fotter .fotter-top {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}
/*# sourceMappingURL=main.css.map */