@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;900&display=swap');

// Varibal
$f-Cairo: 'Cairo', sans-serif;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	// background: #000;
	// color: white;
	direction: rtl;
	font-family: $f-Cairo;
	&::-webkit-scrollbar {
		width: 0.25rem;
	}

	&::-webkit-scrollbar-track {
		background: #022d10;
	}

	&::-webkit-scrollbar-thumb {
		background: green;
	}
}
// global
a {
	text-decoration: none;
	color: inherit;
}
.title-sec {
	width: 100%;
	padding: 10px 0;
	text-align: center;
	p {
		color: darkgreen;
		font-weight: 600;
		font-size: 1.3rem;
	}
	h2 {
		line-height: 0.9;
		font-size: 1.5rem;
	}
	.under-line {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 1s ease-in-out;
		&:hover {
			span {
				background-color: darkgreen;
				span {
					background-color: darkgreen;
				}
			}
		}
		span {
			width: 80px;
			height: 3px;
			background-color: green;
			margin: 15px 1px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			span {
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: green;
			}

			&:nth-child(1) {
				justify-content: flex-end;
			}
			&:nth-child(2) {
				width: 15px;
				height: 15px;
				border-radius: 50%;
			}
			&:nth-child(3) {
				justify-content: flex-start;
			}
		}
	}
}

// Navbar
.nav {
	.topnav {
		padding: 2px 30px;
		background-color: green;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
		.info,
		.icons {
			a {
				margin: 0 6px;
			}
		}
	}
	.navbar {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 2px 30px;
		.manu {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.login a {
				padding: 10px 10px;
				border-radius: 5px;
				background-color: darkgreen;
				color: white;
			}
			ul {
				list-style: none;
				display: flex;
				li {
					transition: all 0.5s ease-in-out;
					padding: 5px 20px;
					a {
						font-size: 1.2rem;
						font-weight: 600;
						display: flex;
						align-items: center;
						i {
							margin: 0 2px;
						}
					}
					&:hover {
						background-color: darkgreen;
						border-radius: 5px;
						color: white;
					}
				}
			}
		}
		.logo {
			margin-left: 20px;
		}
	}
	.downnav {
		padding: 2px 30px;
		background-color: green;
		color: white;
		marquee {
			a {
				margin: 0 10px;
				&:hover {
					color: black;
				}
			}
		}
	}
}
// Banner
.banner {
	width: 100%;
	height: 70vh;
	background-image: url(/img/banner.jpg);
	background-size: cover;
}

.about-us {
	.about-cont {
		display: inline-grid;
		grid-template-columns: auto auto;
		align-items: center;
		.about-img {
			border-radius: 50% 0 0 50%;
			border: 1px solid #999;
			padding: 5px;
			width: 500px;
			height: 500px;
			overflow: hidden;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
			.img {
				background: url(/img/g7.jpg);
				background-size: cover;
				background-position: center center;
				width: 100%;
				height: 100%;
				border-radius: 50% 0 0 50%;
			}
		}
		.about-info {
			padding: 50px;
			font-size: 1.15rem;
			height: 500px;
			p {
				margin-bottom: 15px;
			}
			a {
				background-color: green;
				color: white;
				font-size: 1.2rem;
				padding: 5px 30px;
			}
		}
	}
}

.institutes-sections {
	.institutes-cont {
		padding: 0 30px;
		.hicis {
			display: inline-grid;
			grid-template-columns: auto auto;
			margin: 20px 0;
			.info {
				padding: 0 20px;
				h2 {
					color: darkgreen;
					margin: 5px 0;
				}
				p {
					font-size: 1.1rem;
				}
				ul {
					list-style: none;
					font-size: 1.1rem;
				}
			}
			.img {
				border: 1px solid #999;
				padding: 5px;
				box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
			}
		}
	}
}

.features {
	background-color: #eee;
	padding-bottom: 20px;
	.features-cont {
		width: 100%;
		padding: 20px 30px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		.box {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
	}
}

.last-news {
	padding-bottom: 20px;
	.news-cont {
		width: 100%;
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-gap: 10px;
		.box {
			box-shadow: 1px 1px 5px #0e100f6d;
			.img {
				img {
					width: 100%;
					height: 250px;
				}
			}
			.info {
				padding: 5px;
				h2 {
					font-size: 1.1rem;
				}
			}
		}
	}
}

.fotter {
	.fotter-top {
		padding: 10px;
		padding-bottom: 30px;
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 40px;
		background: #141415;
		color: white;
		h2 {
			color: rgb(0, 184, 0);
			border-bottom: 2px solid green;
			padding-bottom: 5px;
			margin-bottom: 15px;
		}
		.call-me {
			ul {
				li {
					padding: 5px;
					i {
						border: 2px solid #555;
						padding: 5px;
					}
					a {
						padding: 5px;
					}
				}
			}
		}
		.last-new {
			ul {
				list-style: none;
				li {
					padding: 3px 0;
				}
			}
		}
	}
	.fotter-bottom {
		background: #000;
		text-align: center;
		color: white;
		padding: 5px 0;
		font-weight: 600;
	}
}

@media (max-width: 570px) {
	.nav {
		.navbar {
			.manu {
				display: none;
			}
		}
	}
	.about-us {
		.about-cont {
			grid-template-columns: auto;
			.about-info {
				height: unset;
			}
		}
	}
	.institutes-sections {
		.institutes-cont {
			.hicis {
				grid-template-columns: auto;
			}
		}
	}

	.features {
		.features-cont {
			display: grid;
			grid-template-columns: auto auto;
			grid-gap: 10px;
		}
	}

	.last-news {
		.news-cont {
			grid-template-columns: auto auto;
			grid-gap: 10px;
		}
	}
	.fotter {
		.fotter-top {
			grid-template-columns: auto;
		}
	}
}
