@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;900&display=swap');

// Varibal
$f-Cairo: 'Cairo', sans-serif;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	// background: #000;
	// color: white;
	direction: rtl;
	font-family: $f-Cairo;
}

a {
	text-decoration: none;
	color: inherit;
}

.nav {
	.topnav {
		padding: 5px 30px;
		background-color: green;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: white;
		.info {
			a {
				margin: 0 5px;
			}
		}
		.icons {
			margin: 0 5px;
		}
	}
	.navbar {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 2px 30px;
		.manu {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.login a {
				padding: 10px 10px;
				border-radius: 5px;
				background-color: darkgreen;
				color: white;
			}
			ul {
				list-style: none;
				display: flex;
				li {
					transition: all 0.5s ease-in-out;
					padding: 5px 20px;
					a {
						font-size: 1.2rem;
						font-weight: 600;
						display: flex;
						align-items: center;
						i {
							margin: 0 2px;
						}
					}
					&:hover {
						background-color: darkgreen;
						border-radius: 5px;
						color: white;
					}
				}
			}
		}
		.logo {
			margin-left: 20px;
		}
	}
	.downnav {
		padding: 5px 30px;
		background-color: green;
		color: white;
		marquee {
			a {
				margin: 0 10px;
				&:hover {
					color: black;
				}
			}
		}
	}
}

.banner {
	width: 100%;
	height: 70vh;
	background-image: url(/img/banner.jpg);
	background-size: cover;
}

.about-us {
	height: 100vh;
	.title-sec {
		width: 100%;
		padding: 10px 0;
		text-align: center;
		p {
			color: darkgreen;
			font-weight: 600;
			font-size: 1.3rem;
		}
		h2 {
			line-height: 0.9;
			font-size: 1.5rem;
		}
		.under-line {
			display: flex;
			align-items: center;
			justify-content: center;
			span {
				width: 80px;
				height: 3px;
				background-color: green;
				margin: 15px 1px;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				span {
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background: green;
				}

				&:nth-child(1) {
					justify-content: flex-end;
				}
				&:nth-child(2) {
					width: 15px;
					height: 15px;
					border-radius: 50%;
				}
				&:nth-child(3) {
					justify-content: flex-start;
				}
			}
		}
	}

	.about-cont {
		display: inline-grid;
		grid-template-columns: auto auto;
		align-items: center;
		.about-img {
			border-radius: 50% 0 0 50%;
			border: 1px solid #000;
			padding: 5px;
			width: 500px;
			height: 500px;
			overflow: hidden;
			box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.434);
			.img {
				background: url(/img/banner.jpg);
				background-size: cover;
				width: 100%;
				height: 100%;
				border-radius: 50% 0 0 50%;
			}
		}
		.about-info {
			padding: 50px;
			font-size: 1.15rem;
			height: 500px;
			p {
				margin-bottom: 15px;
			}
			a {
				background-color: green;
				color: white;
				font-size: 1.2rem;
				padding: 5px 30px;
			}
		}
	}
}
